<a href="/dashboard" class="go-back"> &lAarr;Back to dashboard</a>

<article class="new-form-page">
  <section class="new-form-container">
    <div class="new-form-title">
      <h2>Edit Post</h2></div>

    <div class="new-form-title">
    <form class="new-form">
      <div class="new-form-group">
        <label for="post-name">Post:</label>
        <input type="text" id="post-name" name="post-name" value="{{post.title}}" />
      </div>

      <div class="new-form-group">
        <label for="post-content">Content:</label>
        <textarea id="post-content" name="post-content">{{post.content}}</textarea>
      </div>
      <div>
        <button type="submit">Update post</button>
        <button type="submit" class="delete-post">Delete</button>
    </form>
    </div>
  </section>
</article>
{{#if loggedIn}}
<script src="/public/js/edit-post.js"></script>
<script src="/public/js/delete-post.js"></script>
{{/if}}

